.DS_STORE
*.log

config/*
!config/default.json
!config/test.json
!config/travis.js

development/statements.txt
apache/cloudlrs.conf

node_modules/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

package-lock.json
