#
# AWS configuration for the Cloud LRS load balancer and EC2 instances.
#
packages:
  yum:
    git: []
    openssl-devel: []
    expat-devel: []
    gettext-devel: []
    zlib-devel: []

option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeVersion: 6.9.1
    ProxyServer: apache
    NodeCommand: 'node app'

Resources:

  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-us-west-2-697877139013"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
