#
# STEP 1:
# Create the httpd proxy config file to replace the default configuration
#
files:
  '/tmp/cloudlrs.httpd.conf' :
    mode: '000755'
    owner: root
    group: root
    content: |
      # Elastic Beanstalk Managed
      #
      # Elastic Beanstalk managed configuration file
      # Some configuration of httpd can be by placing files in /etc/httpd/conf.d/
      # using Configuration Files.
      # http://docs.amazonwebservices.com/elasticbeanstalk/latest/dg/customize-containers.html
      #
      # Modifications of httpd.conf can be performed using container_commands to modify the staged version
      # located in /tmp/deployment/config/etc#httpd#conf#httpd.conf
      # This file was overwritten during deployment
      # by .ebextensions/02_container_commands.config

      Listen 8080
      AddOutputFilterByType DEFLATE text/plain text/html text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript

      ProxyPass /api http://127.0.0.1:2000/api retry=0 KeepAlive=On
      ProxyPass /lti  http://127.0.0.1:2000/lti retry=0 KeepAlive=On
      ProxyPassReverse /api http://127.0.0.1:2000/api
      ProxyPassReverse /lti  http://127.0.0.1:2000/lti
      ProxyPreserveHost On

      DocumentRoot '/var/www/html/public'

      RewriteEngine On
          RewriteRule ^/privacydashboard     /var/www/html/public/index.html

      LogFormat "%h (%{X-Forwarded-For}i) %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
