files:
  "/root/.ssh/github-eb-key":
    authentication: S3Auth
    mode: "000600"
    owner: root
    group: root
    source: "https://s3-us-west-2.amazonaws.com/la-deploy-configs/cloud-lrs/github_eb_key"
  "/root/.ssh/config":
    mode: "000600"
    owner: root
    group: root
    content: |
      Host github.com
      IdentityFile /root/.ssh/github-eb-key
      IdentitiesOnly yes
      UserKnownHostsFile=/dev/null
      StrictHostKeyChecking no
