#
# We now have access to the EB_ENVIRONMENT variable, which we set up ourselves in the AWS console so that a given
# environment (e.g., lrs-sqs-poller-dev) knows its own name. Extract the appropriate file from the zip previously
# downloaded and pipe it to local-production.json (since all our environments are running under NODE_ENV=production).
#
container_commands:
  01_extract_local_configuration:
    command: "sudo unzip -o /tmp/local_configurations.zip -d /tmp/"
  02_copy_local_configuration:
    command: "sudo cp /tmp/local_configurations/${EB_ENVIRONMENT}.json /tmp/deployment/application/config/local-production.json"
