#privacydashboard-datauses table {
  margin-top: 5px;
  width: 100%;
}

#privacydashboard-datauses table th {
  color: #808080;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  width: 100%;
}

#privacydashboard-datauses table tr td {
  padding-bottom: 5px;
  padding-top: 15px;
}

#privacydashboard-datauses table tr:not(:last-child) {
  border-bottom: 1px solid #EBEBEB;
}

#privacydashboard-datauses table h3 {
  font-size: 14px;
  margin: 0 0 10px;
}

#privacydashboard-datauses table small {
  color: #666;
  display: block;
  margin-bottom: 5px;
}

#privacydashboard-datauses table small i {
  margin-right: 7px;
}

#privacydashboard-datauses table .privacydashboard-datauses-share-column {
  text-align: right;
}

#privacydashboard-datauses table .privacydashboard-datauses-share-form {
  width: 180px;
}
