#privacydashboard-topactivities table {
  width: 100%;
}

#privacydashboard-topactivities table td {
  padding: 10px 0;
}

#privacydashboard-topactivities .privacydashboard-topactivities-type {
  font-weight: 500;
  text-transform: capitalize;
  width: 50%;
}

#privacydashboard-topactivities .privacydashboard-topactivities-total-container {
  position: relative;
}

#privacydashboard-topactivities .privacydashboard-topactivities-total {
  left: 10px;
  position: absolute;
  top: 17px;
}

#privacydashboard-topactivities .privacydashboard-topactivities-full {
  background-color: #F4F4F4;
  height: 35px;
  width: 100%;
}

#privacydashboard-topactivities .privacydashboard-topactivities-progress {
  background-color: #FDB515;
  border-right: 2px solid #FFF;
  height: 100%;
}
