html, body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  height: 100%;
  padding: 0;
}

/* Bootstrap vertical row alignment */

.inside-full-height {
  height: 100%;
  margin-bottom: 0;
  margin-top: 0;
}

.row-height {
  display: table;
  height: 100%;
  table-layout: fixed;
  width: 100%;
}

.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}

.col-top {
  vertical-align: top;
}

.col-middle {
  vertical-align: middle;
}

.col-bottom {
  vertical-align: bottom;
}

@media (min-width: 480px) {
  .row-xs-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }

  .col-xs-height {
    display: table-cell;
    float: none;
    height: 100%;
  }

  .col-xs-top {
    vertical-align: top;
  }

  .col-xs-middle {
    vertical-align: middle;
  }

  .col-xs-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 768px) {
  .row-sm-height {
    display: table;
    height: 100%;
    table-layout: fixed;
    width: 100%;
  }

  .col-sm-height {
    display: table-cell;
    float: none;
    height: 100%;
  }

  .col-sm-top {
    vertical-align: top;
  }

  .col-sm-middle {
    vertical-align: middle;
  }

  .col-sm-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 992px) {
  .row-md-height {
    display: table;
    height: 100%;
    table-layout: fixed;
    width: 100%;
  }

  .col-md-height {
    display: table-cell;
    float: none;
    height: 100%;
  }

  .col-md-top {
    vertical-align: top;
  }

  .col-md-middle {
    vertical-align: middle;
  }

  .col-md-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 1200px) {
  .row-lg-height {
    display: table;
    height: 100%;
    table-layout: fixed;
    width: 100%;
  }

  .col-lg-height {
    display: table-cell;
    float: none;
    height: 100%;
  }

  .col-lg-top {
    vertical-align: top;
  }

  .col-lg-middle {
    vertical-align: middle;
  }

  .col-lg-bottom {
    vertical-align: bottom;
  }
}